<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.ailurus.mapper.FeatureFileMapper">
  <resultMap id="BaseResultMap" type="pers.ailurus.model.FeatureFile">
    <!--@mbg.generated-->
    <!--@Table feature_file-->
    <id column="md5" jdbcType="VARCHAR" property="md5" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="class_num" jdbcType="INTEGER" property="classNum" />
    <result column="package_deep" jdbcType="INTEGER" property="packageDeep" />
    <result column="package_num" jdbcType="INTEGER" property="packageNum" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    md5, `name`, version, class_num, package_deep, package_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from feature_file
    where md5 = #{md5,jdbcType=VARCHAR}
  </select>
  <select id="selectByNumberFeature" parameterType="pers.ailurus.model.FeatureFile" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from feature_file
    where class_num = #{classNum,jdbcType=INTEGER} 
    and package_deep = #{packageDeep,jdbcType=INTEGER} 
    and package_num = #{packageNum,jdbcType=INTEGER}
  </select>
  <select id="selectByNumberFeatureFuzzy" parameterType="pers.ailurus.model.FeatureFile" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from feature_file
    where class_num between #{classNum - 10,jdbcType=INTEGER} and #{classNum + 10,jdbcType=INTEGER} and
    and package_deep between #{packageDeep - 2,jdbcType=INTEGER} and #{packageDeep + 2,jdbcType=INTEGER} and
    and package_num between #{packageNum - 2,jdbcType=INTEGER} and #{packageNum + 2,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from feature_file
    where md5 = #{md5,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="pers.ailurus.model.FeatureFile">
    <!--@mbg.generated-->
    insert into feature_file (md5, `name`, version, 
      class_num, package_deep, package_num
      )
    values (#{md5,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{classNum,jdbcType=INTEGER}, #{packageDeep,jdbcType=INTEGER}, #{packageNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="pers.ailurus.model.FeatureFile">
    <!--@mbg.generated-->
    insert into feature_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="md5 != null">
        md5,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="classNum != null">
        class_num,
      </if>
      <if test="packageDeep != null">
        package_deep,
      </if>
      <if test="packageNum != null">
        package_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="md5 != null">
        #{md5,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="classNum != null">
        #{classNum,jdbcType=INTEGER},
      </if>
      <if test="packageDeep != null">
        #{packageDeep,jdbcType=INTEGER},
      </if>
      <if test="packageNum != null">
        #{packageNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pers.ailurus.model.FeatureFile">
    <!--@mbg.generated-->
    update feature_file
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="classNum != null">
        class_num = #{classNum,jdbcType=INTEGER},
      </if>
      <if test="packageDeep != null">
        package_deep = #{packageDeep,jdbcType=INTEGER},
      </if>
      <if test="packageNum != null">
        package_num = #{packageNum,jdbcType=INTEGER},
      </if>
    </set>
    where md5 = #{md5,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.ailurus.model.FeatureFile">
    <!--@mbg.generated-->
    update feature_file
    set `name` = #{name,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      class_num = #{classNum,jdbcType=INTEGER},
      package_deep = #{packageDeep,jdbcType=INTEGER},
      package_num = #{packageNum,jdbcType=INTEGER}
    where md5 = #{md5,jdbcType=VARCHAR}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update feature_file
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when md5 = #{item.md5,jdbcType=VARCHAR} then #{item.name,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when md5 = #{item.md5,jdbcType=VARCHAR} then #{item.version,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="class_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when md5 = #{item.md5,jdbcType=VARCHAR} then #{item.classNum,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="package_deep = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when md5 = #{item.md5,jdbcType=VARCHAR} then #{item.packageDeep,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="package_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when md5 = #{item.md5,jdbcType=VARCHAR} then #{item.packageNum,jdbcType=INTEGER}
        </foreach>
      </trim>
    </trim>
    where md5 in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.md5,jdbcType=VARCHAR}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update feature_file
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.name != null">
            when md5 = #{item.md5,jdbcType=VARCHAR} then #{item.name,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.version != null">
            when md5 = #{item.md5,jdbcType=VARCHAR} then #{item.version,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="class_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.classNum != null">
            when md5 = #{item.md5,jdbcType=VARCHAR} then #{item.classNum,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="package_deep = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.packageDeep != null">
            when md5 = #{item.md5,jdbcType=VARCHAR} then #{item.packageDeep,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="package_num = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.packageNum != null">
            when md5 = #{item.md5,jdbcType=VARCHAR} then #{item.packageNum,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
    </trim>
    where md5 in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.md5,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into feature_file
    (md5, `name`, version, class_num, package_deep, package_num)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.md5,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.version,jdbcType=VARCHAR}, 
        #{item.classNum,jdbcType=INTEGER}, #{item.packageDeep,jdbcType=INTEGER}, #{item.packageNum,jdbcType=INTEGER}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="pers.ailurus.model.FeatureFile">
    <!--@mbg.generated-->
    insert into feature_file
    (md5, `name`, version, class_num, package_deep, package_num)
    values
    (#{md5,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{classNum,jdbcType=INTEGER}, #{packageDeep,jdbcType=INTEGER}, #{packageNum,jdbcType=INTEGER}
      )
    on duplicate key update 
    md5 = #{md5,jdbcType=VARCHAR}, 
    `name` = #{name,jdbcType=VARCHAR}, 
    version = #{version,jdbcType=VARCHAR}, 
    class_num = #{classNum,jdbcType=INTEGER}, 
    package_deep = #{packageDeep,jdbcType=INTEGER}, 
    package_num = #{packageNum,jdbcType=INTEGER}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="pers.ailurus.model.FeatureFile">
    <!--@mbg.generated-->
    insert into feature_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="md5 != null">
        md5,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="classNum != null">
        class_num,
      </if>
      <if test="packageDeep != null">
        package_deep,
      </if>
      <if test="packageNum != null">
        package_num,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="md5 != null">
        #{md5,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="classNum != null">
        #{classNum,jdbcType=INTEGER},
      </if>
      <if test="packageDeep != null">
        #{packageDeep,jdbcType=INTEGER},
      </if>
      <if test="packageNum != null">
        #{packageNum,jdbcType=INTEGER},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="md5 != null">
        md5 = #{md5,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="classNum != null">
        class_num = #{classNum,jdbcType=INTEGER},
      </if>
      <if test="packageDeep != null">
        package_deep = #{packageDeep,jdbcType=INTEGER},
      </if>
      <if test="packageNum != null">
        package_num = #{packageNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>