<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.ailurus.mapper.RelationFileClassMapper">
  <resultMap id="BaseResultMap" type="pers.ailurus.model.RelationFileClass">
    <!--@mbg.generated-->
    <!--@Table relation_file_class-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_md5" jdbcType="VARCHAR" property="fileMd5" />
    <result column="class_md5" jdbcType="VARCHAR" property="classMd5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, file_md5, class_md5
  </sql>
</mapper>