<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.ailurus.mapper.RelationFileClassMapper">
  <resultMap id="BaseResultMap" type="pers.ailurus.model.RelationFileClass">
    <!--@mbg.generated-->
    <!--@Table relation_file_class-->
    <id column="file_md5" jdbcType="VARCHAR" property="fileMd5" />
    <id column="class_md5" jdbcType="VARCHAR" property="classMd5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    file_md5, class_md5
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from relation_file_class
    where file_md5 = #{fileMd5,jdbcType=VARCHAR}
      and class_md5 = #{classMd5,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="pers.ailurus.model.RelationFileClass">
    <!--@mbg.generated-->
    insert into relation_file_class (file_md5, class_md5)
    values (#{fileMd5,jdbcType=VARCHAR}, #{classMd5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pers.ailurus.model.RelationFileClass">
    <!--@mbg.generated-->
    insert into relation_file_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileMd5 != null">
        file_md5,
      </if>
      <if test="classMd5 != null">
        class_md5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileMd5 != null">
        #{fileMd5,jdbcType=VARCHAR},
      </if>
      <if test="classMd5 != null">
        #{classMd5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update relation_file_class
    <trim prefix="set" suffixOverrides="," />
    where file_md5 in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.fileMd5,jdbcType=VARCHAR}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update relation_file_class
    <trim prefix="set" suffixOverrides="," />
    where file_md5 in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.fileMd5,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into relation_file_class
    (file_md5, class_md5)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.fileMd5,jdbcType=VARCHAR}, #{item.classMd5,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="pers.ailurus.model.RelationFileClass">
    <!--@mbg.generated-->
    insert into relation_file_class
    (file_md5, class_md5)
    values
    (#{fileMd5,jdbcType=VARCHAR}, #{classMd5,jdbcType=VARCHAR})
    on duplicate key update 
    file_md5 = #{fileMd5,jdbcType=VARCHAR}, 
    class_md5 = #{classMd5,jdbcType=VARCHAR}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="pers.ailurus.model.RelationFileClass">
    <!--@mbg.generated-->
    insert into relation_file_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileMd5 != null">
        file_md5,
      </if>
      <if test="classMd5 != null">
        class_md5,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileMd5 != null">
        #{fileMd5,jdbcType=VARCHAR},
      </if>
      <if test="classMd5 != null">
        #{classMd5,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="fileMd5 != null">
        file_md5 = #{fileMd5,jdbcType=VARCHAR},
      </if>
      <if test="classMd5 != null">
        class_md5 = #{classMd5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectFileMd5ByClassMd5" parameterType="String" resultType="String">
    select file_md5
    from relation_file_class
    where class_md5 = #{classMd5,jdbcType=VARCHAR}
  </select>
</mapper>