<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.ailurus.mapper.RelationClassMethodMapper">
  <resultMap id="BaseResultMap" type="pers.ailurus.model.RelationClassMethod">
    <!--@mbg.generated-->
    <!--@Table relation_class_method-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="class_md5" jdbcType="VARCHAR" property="classMd5" />
    <result column="method_md5" jdbcType="VARCHAR" property="methodMd5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, class_md5, method_md5
  </sql>
</mapper>